# Jaringan & SSH
BR2_PACKAGE_DROPBEAR=y
BR2_SYSTEM_DHCP="eth0"

# Python
BR2_PACKAGE_PYTHON3=y

# Audio & GStreamer
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_GSTREAMER1=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_ALSA=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUTOVIDEOSINK=y
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WEBRTC=y

# WebRTC Dependencies
BR2_PACKAGE_LIBNICE=y

# Grafis (Desktop Ringan)
BR2_PACKAGE_WESTON=y
BR2_PACKAGE_RPI_USERLAND=y
